[Unit]
Description=Webhook server

[Service]
ExecStart=/usr/bin/node /var/www/webhook/webhook.js
Restart=always
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/webhook

[Install]
WantedBy=multi-user.target